footer {
	background-color:#34495e;
	clear:both;

	section {
		&.container {
			margin:20px auto 20px auto;
			color:#92acc4;

			h2{
				font-size: 3em;
				@include weight(100);

				strong{
					@include weight(300);
				}
			}

			p {
				color:#92acc4;
				font-size: 1.2em;
				@include weight(100);
			}

			div.social-nav {

				margin-bottom:10px;

				& > a {
					font-size: 3.5em;
					margin-right:10px;
				}
			}

		}

	}

}