header {

	section {

		margin:20px auto auto auto;

		&.spy-row{
			width:100vw;
			position: fixed;
		}

		& nav{

			& li{

				& a {
					color:#333;
					font-size: 1.5em;
					@include weight(200);

					&:hover{
						@include fade(fadeIn, 100ms, $from-opacity: .6);
						color:#333;
						text-shadow: 0px 0px 1px #999;
					}

				}

				&:hover a{
					background: none !important; /** Due to some reason it needs !important to be applied **/
				}

				&.active{

					& a{
						color:#333 !important; /** Due to some reason it needs !important to be applied **/
						text-shadow: 0px 0px 1px #dadada;
						@include weight(200);
						background: none !important; /** Due to some reason it needs !important to be applied **/
					}

					@include text-line(20px, #333, $display: block);

				}
			}

		}
	}

}