<main>

	<section class="container-entire-viewport viewport-error">

		<article class="container container-404 text-center">
			<h1>Internal <strong>Server</strong> Error!</h1>
			<p class="mydescription">Yes! As you can see something bad happen. I got notified about it and will see how I can resolve it.</h2>
			<p class="mydescription">While I am doing the same you can freely navigate yourself back to the <a class="label label-danger" href="/" ui-sref="home">home page</a>!</h2>

			<h6>500</h6>
		</article>

	</section>

</main>