<main>

	<section class="container-entire-viewport viewport-carrot">

		<article class="container container-biography text-center">
			<h1><strong>Who</strong> am I?</h1>
			<p class="mydescription">I'm not sure if any of us will <strong>ever</strong> find the <strong>true</strong> answer!</h2>
			<p class="mydescription">Never the less let me share what I've figured out so far :)</h2>


			<div class="myimage col-centered"></div>
		</article>

	</section>

	<section class="container-fluid viewport-article">
		<article class="container container-article">
			<p class="bigabout">How about I say nothing about myself more than few lines that could overall tell you enough. It would be my pleasure to keep you off boring facts like that I did not finish any colege and that IT is my true "call" or passion or however you wish to name it. I would very much prefer sections like <a href="#/playground" ui-sref="playground">Playground</a> and overall site speak about me and my knowlege rather than any words written on this page.</p>
		
			<p class="bigabout">Beside that, linkedin did an amazing job presenting professionals so please, take a look at my <a href="https://www.linkedin.com/in/neviovesic" title="Nevio Vesic | Linkedin" class="label label-primary"><i class="fa fa-linkedin"></i> LinkedIn</a> profile. You can always add me over nevio.vesic(at)gmail.com <small>(if we're not already connected)</small>. I'm <strong>LION</strong>.</p>

			<nav>
				<li><p><strong>I love</strong>Agile</p></li>
				<li><p><strong>I am</strong>Team Player</p></li>
				<li><p><strong>Developing from</strong>May 2000</p></li>
				<li><p><strong>Know the best</strong>Python</p></li>
				<li><p><strong>Status</strong>Employed</p></li>
				<li><p><strong>Relationship Status</strong>Engaged</p></li>
				<li><p><strong>Children</strong>One Day</p></li>
				<li><p><strong>Current Residence</strong>Rijeka, Croatia</p></li>
				<li><p><strong>Next Residence</strong>New Jersey, United States</p></li>
				<li><p><strong>Hobbies</strong>Capoeira, Body building</p></li>
			</nav>

		</article>
	</section>

</main>