<section class="container" ng-hide="isContactPage">
	<h2><strong class="text-line">How</strong> to reach me?</h2>
	<p>Best way to reach me is over my <a href="mailto:nevio@teltech.co">email address</a> or <a href="skype:nevio.vesic?chat">skype</a>. Social networks I have but lately I do avoid them as much as I possibly can. Time waster! Never the less, here they are.</p>

	<div class="social-nav">
		<a href="https://github.com/0x19" title="Nevio Vesic (0x19) | Github"><i class="fa fa-github"></i></a>
		<a href="https://www.facebook.com/noxten" title="Nevio Vesic | Facebook"><i class="fa fa-facebook"></i></a>
		<a href="https://twitter.com/vesicnevio" title="Nevio Vesic (@vesicnevio) | Twitter"><i class="fa fa-twitter"></i></a>
		<a href="https://www.linkedin.com/in/neviovesic" title="Nevio Vesic | Linkedin"><i class="fa fa-linkedin"></i></a>
		<a href="https://plus.google.com/112805182312103136687/" title="Nevio Vesic - Google+" rel="me"><i class="fa fa-google-plus"></i></a>
		<a href="http://stackoverflow.com/users/799341/nevio-vesic" title="Nevio Vesic | Stack Overflow"><i class="fa fa-stack-overflow"></i></a>
		<a href="skype:nevio.vesic?chat" title="Nevio Vesic (nevio.vesic) | Skype"><i class="fa fa-skype"></i></a>
	</div>

	<small>&copy; {{date | date:'yyyy'}} <a href="/" ui-sref="home" title="Nevio Vesic - Senior Software Engineer">Nevio Vesic</a></small>
</section>