<section class="spy-row row">
	<div class="col-md-6">
		<nav class="nav nav-pills">
			<li ui-sref-active="active text-line"><a href="#/home" ui-sref="home">Home <i class="text-line"></i></a></li>
			<li><a href="#/biography" ui-sref="biography">Bio <i class="text-line"></i></a></li>
			<li><a href="#/blog" ui-sref="blog">Blog <i class="text-line"></i></a></li>
			<li><a href="#/playground" ui-sref="playground">Playground <i class="text-line"></i></a></li>
			<li><a href="#/contact" ui-sref="contact">Contact <i class="text-line"></i></a></li>
		</nav>
	</div>
	<div cass="col-md-6">

	</div>
</section>