<section class="spy-row row" ng-class="{'carrot-header': isBiographyPage, 'blue-header': isHomePage, 'dark-header': isContactPage, 'error-header': isErrorPage, 'green-header': isPlaygroundPage}">
	<div class="container">
		<div class="col-md-12 col-centered">
			<div class="left-nav pull-left">
				<a ui-sref-active="active" href="/" title="Nevio Vesic - Senior Software Engineer" ui-sref="home" title=""><i class="fa fa-home"></i></a>
			</div>

			<div class="text-center">
				<a href="javascript:void(0);" class="menu-handler" ng-click="navBarStatus=true"><i class="fa fa-align-center"></i></a>
			</div>

			<div class="social-nav pull-right">
				<a href="https://github.com/0x19" title="Nevio Vesic (0x19) | Github"><i class="fa fa-github"></i></a>
				<a href="https://www.facebook.com/noxten" title="Nevio Vesic | Facebook"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/vesicnevio" title="Nevio Vesic (@vesicnevio) | Twitter"><i class="fa fa-twitter"></i></a>
				<a href="https://www.linkedin.com/in/neviovesic" title="Nevio Vesic | Linkedin"><i class="fa fa-linkedin"></i></a>
				<a href="https://plus.google.com/112805182312103136687/" title="Nevio Vesic - Google+" rel="me"><i class="fa fa-google-plus"></i></a>
				<a href="http://stackoverflow.com/users/799341/nevio-vesic" title="Nevio Vesic | Stack Overflow"><i class="fa fa-stack-overflow"></i></a>
				<a href="skype:nevio.vesic?chat" title="Nevio Vesic (nevio.vesic) | Skype"><i class="fa fa-skype"></i></a>
			</div>
		</div>
	</div>

	<div class="main-menu" ng-show="navBarStatus">
		<div class="container">
			<nav class="nav">
				<li class="col-md-4 text-center">
					<a ui-sref-active="active" href="/biography" title="Nevio Vesic - Senior Software Engineer - Biography" ui-sref="biography">Biography</a>
					<p>All you need to know about me. You can always contact me for any additional info.</p>
				</li>
				<li class="col-md-4 text-center">
					<a ui-sref-active="active" href="/playground" title="Nevio Vesic - Senior Software Engineer - Playground" ui-sref="playground">Playground</a>
					<p>Here you'll be able to find my blog posts, code examples and many more.</p>
				</li>
				<li class="col-md-4 text-center">
					<a ui-sref-active="active" href="/contact" title="Nevio Vesic - Senior Software Engineer - Contact" ui-sref="contact">Contact</a>
					<p>In case you're interested to connect with me.</p>
				</li>
			</nav>
		</div>
	</div>

</section>