<main>

	<section class="container-entire-viewport viewport-blue">

		<article class="container container-main-page text-center">
			<h1>Hello there! I'm <strong>Nevio</strong>!</h1>
			<p class="mydescription">
				<abbr title="Senior Software Engineer">Senior Software Engineer</abbr> working for
				<a href="http://www.teltech.co" class="label label-success" title="TelTech - NJ's Premiere Tech Startup">TelTech Systems Inc.</a>
				If I'm not codding for company, I'm working on my next adventure -> <a href="https://github.com/powerunit-io" title="Home Automation System micro platform written in Go" class="hobbies">powerunit.io</a>.
				Lately I'm nuts about electronics and <a href="https://en.wikipedia.org/wiki/Internet_of_Things" title="Internet of Things" class="hobbies">IoT</a>.
			</p>
			<p class="mydescription">Outside of technical scope you can find me <a href="http://www.studio9.com.hr/" title="Fitness Studio 9" class="hobbies">weight lifting</a> or talking long walks with my two dogs!</h2>

			<nav>
				<li>
				<a href="https://github.com/0x19" class="btn btn-danger btn-lg" title="GitHub - 0x19"><span class="fa fa-github"></span> Github</a>
				</li>
				<li><a href="https://www.linkedin.com/in/neviovesic" class="btn btn-primary btn-lg" title="Nevio Vesic | Linkedin"><span class="fa fa-linkedin"></span> LinkedIn</a></li>
			</nav>

			<nav class="whatido">
				<li><a href="http://php.net/" title="PHP: Hypertext Preprocessor"><strong>12+ years</strong>php</a></li>
				<li><a href="https://www.python.org" title="Welcome to Python.org"><strong>4+ years</strong>python</a></li>
				<li><a href="https://golang.org/" title="The Go Programming Language"><strong>2+ years</strong>golang</a></li>
				<li><a href="https://golang.org/" title="The Go Programming Language"><strong>X+ years</strong>ton of languages/utilities</a></li>
			</nav>
		</article>

	</section>

	<section class="container-entire-viewport viewport-dark">

		<article class="container container-contact text-center">
			<h1>How to <strong>contact</strong> me?</h1>
			<p class="mydescription">The best way to reach me is over my <a href="mailto:nevio@teltech.co">email address</a>. Social networks I have but lately I do avoid them as much as I possibly can. Never the less, here they are.</p>

			<p class="mydescription">If you however spot any bugs, I would please you to create <a href="https://github.com/0x19/neviovesic.com/issues/new" title="New Issue · 0x19/neviovesic.com">github issue</a>. Thank You!</p>

			<div class="social-nav">
				<a href="https://github.com/0x19" title="Nevio Vesic (0x19) | Github"><i class="fa fa-github"></i></a>
				<a href="https://www.facebook.com/noxten" title="Nevio Vesic | Facebook"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/vesicnevio" title="Nevio Vesic (@vesicnevio) | Twitter"><i class="fa fa-twitter"></i></a>
				<a href="https://www.linkedin.com/in/neviovesic" title="Nevio Vesic | Linkedin"><i class="fa fa-linkedin"></i></a>
				<a href="https://plus.google.com/112805182312103136687/" title="Nevio Vesic - Google+" rel="me"><i class="fa fa-google-plus"></i></a>
				<a href="skype:nevio.vesic?chat" title="Nevio Vesic (nevio.vesic) | Skype"><i class="fa fa-skype"></i></a>
			</div>

		</article>

	</section>


</main>
