<main>

	<article class="container-fluid container-entire-viewport container-main-page">
		<h1>Hi there! I'm <strong>Nevio</strong>!</h1>
		<p class="mydescription">I'm <abbr title="Senior Software Engineer">Senior Software Engineer</abbr> working for <a href="http://www.teltech.co" class="label label-success" title="TelTech - NJ's Premiere Tech Startup">TelTech Systems Inc.</a></h2>
		<p class="mydescription"><strong>Welcome</strong> to my playground!</h2>

		<nav>
			<li><a href="https://github.com/0x19/neviovesic.com" class="btn btn-danger btn-lg" title="GitHub - 0x19/neviovesic.com"><span class="fa fa-github"></span> Github - Fork</a></li>
			<li><a href="https://www.linkedin.com/in/neviovesic" class="btn btn-primary btn-lg" title="GitHub - 0x19/neviovesic.com"><span class="fa fa-linkedin"></span> LinkedIn</a></li>
		</nav>

		<small><strong>Yes!</strong> This is my design! <strong>Yes!</strong> I have no idea what I'm doing :)</small>

	</article>

</main>