<main>

	<section class="container-entire-viewport viewport-blue">

		<article class="container container-main-page text-center">
			<h1>Hi there! I'm <strong>Nevio</strong>!</h1>
			<p class="mydescription">I'm <abbr title="Senior Software Engineer">Senior Software Engineer</abbr> working for <a href="http://www.teltech.co" class="label label-success" title="TelTech - NJ's Premiere Tech Startup">TelTech Systems Inc.</a></h2>
			<p class="mydescription">Beside tech stuff I'm all into <a href="http://www.studio9.com.hr/" title="Fitness Studio 9" class="hobbies">bodybuilding</a> and <a href="https://www.facebook.com/groups/47105079044/" title="Capoeira Rijeka, Jacobina Arte Croatia" class="hobbies">capoeira</a>!</h2>

			<nav>
				<li>
				<a href="https://github.com/0x19/neviovesic.com" class="btn btn-danger btn-lg" title="GitHub - 0x19/neviovesic.com"><span class="fa fa-github"></span> Github - Fork</a>
				</li>
				<li><a href="https://www.linkedin.com/in/neviovesic" class="btn btn-primary btn-lg" title="Nevio Vesic | Linkedin"><span class="fa fa-linkedin"></span> LinkedIn</a></li>
			</nav>

			<nav class="whatido">
				<li><a href="http://php.net/" title="PHP: Hypertext Preprocessor"><strong>12+ years</strong>php</a></li>
				<li><a href="https://www.python.org" title="Welcome to Python.org"><strong>3+ years</strong>python</a></li>
				<li><a href="https://golang.org/" title="The Go Programming Language"><strong>3+ months</strong>golang</a></li>
				<li><a href="http://coffeescript.org/" title="CoffeeScript"><strong>1+ years</strong>coffescript</a></li>
				<li><a href="http://sass-lang.com/" title="Sass: Syntactically Awesome Style Sheets"><strong>1+ years</strong>sass</a></li>
				<li><a href="https://angularjs.org/" title="AngularJS — Superheroic JavaScript MVW Framework"><strong>6+ months</strong>angular.js</a></li>
			</nav>
		</article>

	</section>

</main>