[[ set . "title" "Nevio Vesic - Senior Software Engineer - My Biography" ]]
[[ set . "metaDescription" "Welcome to my biography page! I'm Senior Software Engineer working for TelTech Systems Inc. Reach me if you have any questions!" ]]
[[ set . "metaKeywords" "nevio vesic, python, golang, coffeescript, saas, php, biography, angular.js, javascript, senior software engineer, caopoeira, body building, telecommunications, sip, freeswitch, webrtc" ]]

[[ set . "deactivateAngular" "true" ]]
[[ set . "isBiography" "true" ]]

[[template "header.html" .]]
<section class="container-fluid">
[[template "templates/biography.html" .]]
</section>
[[template "footer.html" .]]