[[ set . "title" "Nevio Vesic - Senior Software Engineer - Contact" ]]
[[ set . "metaDescription" "Welcome to my contact page. In case you have desire to connect with me, this is the place to find all necesarry details!" ]]
[[ set . "metaKeywords" "nevio vesic, python, golang, coffeescript, saas, php, contact, angular.js, javascript, senior software engineer, caopoeira, body building, telecommunications, sip, freeswitch, webrtc" ]]

[[ set . "deactivateAngular" "true" ]]
[[ set . "isContact" "true" ]]

[[template "header.html" .]]
<section class="container-fluid">
[[template "templates/contact.html" .]]
</section>