[[ set . "title" "Nevio Vesic - Senior Software Engineer - Playground" ]]
[[ set . "metaDescription" "Welcome to my blog + Python, GoLang, Sass, Coffeescript and PHP playground. Hope you'll find something interesting. If not, please let me know and I'll make sure to get on it!" ]]
[[ set . "metaKeywords" "nevio vesic, python, golang, coffeescript, saas, php, playground, angular.js, javascript, senior software engineer, caopoeira, body building, telecommunications, sip, freeswitch, webrtc" ]]

[[ set . "deactivateAngular" "true" ]]
[[ set . "isPlayground" "true" ]]

[[template "header.html" .]]
<section class="container-fluid">
[[template "templates/playground.html" .]]
</section>
[[template "footer.html" .]]