[[ set . "title" "Nevio Vesic - Senior Software Engineer" ]]
[[ set . "metaDescription" "I'm Senior Software Engineer working for TelTech Systems Inc. Here you'll be able to discover everything that's relevant to me." ]]
[[ set . "metaKeywords" "nevio vesic, python, golang, coffeescript, saas, php, angular.js, javascript, senior software engineer, caopoeira, body building, telecommunications, sip, freeswitch, webrtc" ]]
[[template "header.html" .]]

<section class="container-fluid" ui-view></section>

[[template "footer.html" .]]
