<!DOCTYPE html>
<html lang="en" ng-app="NevioVesic" itemscope itemtype="http://schema.org/Person">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  
  <title ng-bind="title">[[.title]]</title>

  <meta property="og:title" ng-bind="title" content="[[.title]]" />
  <meta name="twitter:title" ng-bind="title" content="[[.title]]" />

  <meta name="author" content="Nevio Vesic" />

  <meta name="description" ng-attr-content="{{metaDescription}}" content="[[.metaDescription]]" />
  <meta property="og:description" ng-attr-content="{{metaDescription}}" content="[[.metaDescription]]" />
  <meta name="twitter:description" ng-attr-content="{{metaDescription}}" content="[[.metaDescription]]" />

  <meta name="keywords" ng-attr-content="{{metaKeywords}}" content="[[.metaKeywords]]" />

  <meta name="twitter:card" content="summary">
  <meta property="og:type" content="website" />

  <meta name="revisit-after" content="10 days" />
  <meta name="distribution" content="web" />
  <meta name="robots" content="INDEX, FOLLOW" />

  <meta itemprop="name" content="Nevio Vesic" />
  <meta itemprop="description" content="Works at TelTech Systems as Senior Software Engineer. Lives in Rijeka, Croatia." />

  <link rel="canonical" href="http://www.neviovesic.com/" />
  <meta property="og:url" content="http://www.neviovesic.com/">
  <meta name="twitter:url" content="http://www.neviovesic.com/">
  <meta itemprop="url" content="http://www.neviovesic.com/">

  <link rel="author" href="https://plus.google.com/112805182312103136687/"/>
  <link rel="publisher" href="https://plus.google.com/112805182312103136687/"/>

  <meta name="twitter:image" content="http://neviovesic.com/public/images/myself.jpg" />
  <meta property="og:image" content="http://neviovesic.com/public/images/myself.jpg" />
  <meta itemprop="image" content="http://neviovesic.com/public/images/myself.jpg" />

  <meta property="fb:admins" content="571869360">

  <!-- Our precious site stylesheets :) -->
  <link href="/public/stylesheets/application.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  [[raw `<!--[if lt IE 10]>`]]
  <script type="text/javascript">
      window.location = "http://windows.microsoft.com/en-us/internet-explorer/download-ie";
  </script>
  [[raw `<![endif]-->`]]

  <!-- Including AngularJS Dependencies -->
  <script type="text/javascript" src="/public/components/angularjs/angular.min.js"></script>
  <script type="text/javascript" src="/public/components/angular-ui-router/release/angular-ui-router.min.js"></script>

  <!-- Including Base Application -->
  <script type="text/javascript" src="/public/angular/application.js"></script>
  <script type="text/javascript" src="/public/angular/common/factory.js"></script>
  <script type="text/javascript" src="/public/angular/controllers/common.js"></script>
  <script type="text/javascript" src="/public/angular/routing/main.js"></script>
</head>
<body>
<header ui-view="header" class="container-fluid" ng-mouseleave="navBarStatus=false"></header>