<section class="container-absolute container-entire-viewport container-abstract-branding">
	[[ range slice 13 ]]
	<div class="row">
		[[ range slice 12 ]]
		<div class="col-md-1 text-center"><a href="/">[[ randstring "SIP" "Channels" "Virtual Numbers" "Carrier" "SMS" "WebRTC" "Application" "Routing" "Peer To Peer" "BNA" "Lookups" "CNAM" "Conferences" "Participants" "Calls" "Recordings" "Inbound Calls" "Outbound Calls" "Inbound SMS" "Location Services" "InboundXML" ]]</a></div>
		[[ end ]]
	</div>
	[[ end ]]
</section>